.form {
	width: 95%;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.25rem;
	padding: 1rem;
	background-color: darkblue;
	color: var(--textColor);
}

.formButtonContainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.formReturnButton {
	padding: 0.75rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
  font-size: 1rem;
	text-decoration: none;
	border-radius: 0.25rem;
	background-color: #2222D6;
	color: var(--textColor);
}

.formReturnButton:hover {
	background-color: #2A2AFF;
}

.messageSuccess,
.messageError {
	margin: 0;
	width: 94%;
	padding: 1rem;
	border-radius: 0.25rem;
}

.messageSuccess {
	background-color: aquamarine;
	color: darkgreen;
}

.messageError {
	background-color: #D97B7B;
	color: darkred;
}